@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
* {
  position: relative;
}
 html{
  background-image: linear-gradient(to right, #ccd3d7 0%, #63839a 100%);}
#triangulo {
  width: 350px;
  display: flex;
  align-self: center;
  margin: auto;
}
body {
  font-family: 'Cormorant', serif;
}
input::placeholder {
  text-align: center;
  font-weight: normal;
  color: #898989;
  
}
input{
  border-style: none;
  border-radius: 25px;
  height: 30px;
  width: 80px;
}
#aInput{
  display: flex;
  align-self: center;
  margin: auto;
  text-align: center;
}
#oInput{
  left: -220px;
  bottom: 135px;
  display: flex;
  align-self: center;
  margin: auto;
  text-align: center;
}
#hInput{
  left: 130px;
  bottom: 195px;
  display: flex;
  align-self: center;
  margin: auto;
  text-align: center;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
#buttons button{
  border-style: none;
  border-radius: 15px;
  width: 120px;
  height: 30px;
  display: flex;
  align-self:center;
  vertical-align: center;
  background-color: #13222a;
  color:#f8f7f2;
  display: table-cell;
}

#buttonLimpar {
margin-left: 15px;
}
#resultado{
  width: 40px;
  background-color: #faedcd;
  text-align: center;
  position: relative;
  font-weight: bold;
  font-family: sans-serif;
  left: 340px;
  bottom: 100px;
}
#cabeçalho{
  color: #3d4450;
  text-align: center;
}
#paragrafo{
  font-family: 'Cormorant', serif;
  font-size: 25px;
  text-align: center;
  color: #1a3936;
  line-height: 30px;
  margin-top: 60px;
}